/* Nav */

.navigation {

    float: right;

}

.navigation ul{

}

.navigation li {

    list-style: none;
    display: inline;

}

.navigation li a {

    padding: 20px 30px;
    color: hsl(0, 0%, 60%);
    float: left;
    transition: color .3s ease-in-out;

}

.navigation li a:hover {

    color: hsl(0, 0%, 30%);
    transition: color .5s ease-in-out;

} 

/*---------------------*/

body{

    background-color: #F8FAFC;

}

.container{

    font-family: "Libre Franklin", serif;
    margin-left: 12%;
    margin-right: 12%;

}