hr{
  border-width: 2px;
  color:blueviolet;
}

p{
padding: 15px;
font-size: 20px;
}

h1{
  margin: 3% 20%;
  padding: 15px;
  font-size: 70px;
}

h2{
  padding: 15px;
  font-size: 50px;
}

body{
  font-family: 'Ubuntu', sans-serif;
  color:white;
  background-color: #020202;
  margin: 0 20%;
  padding-bottom: 15px;
}

li{
  display: inline-block;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.nav:hover::after{
  width: 100%;
  transition: width .3s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rebeccapurple;
  font-family: 'Ubuntu', sans-serif;
}

p a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

p a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

p a:hover {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: underline;
}

p a:active {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: underline;
}

.responsive{
  width: 100%;
  heigth: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

ul.link {
  margin: 0;
  padding: 0;
  background-color: #0000 !important;
}

ul.link li{
  padding: 15px;
  font-size: 20px;
  display: block;
}

ul.link li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

strong{line-height: 4em;}

.intro{line-height: 2em;}

.introduction{text-align: center;}

blockquote{
  background-color: #1c1c1c;
  padding: 1em;
  border: 2px solid white;
}

table{
  border: 1px solid black
}

td,th{
  border: 1px solid gray;
  padding: 5px;
}

td{
  background-color: violet;
}

th{
  background-color: blueviolet;
}

table{
  margin-top: 10%;
}